@import "tailwindcss";

@font-face {
  font-family: 'Vintages';
  src: url('/Vintages.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #164E5E;
  --foreground: #fff;

  --primary: #FFCC00;
  --secondary: #806600;
  --font-vintages: 'Vintages', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-dark: var(--background-dark);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-family-sans: var(--font-geist-sans);
  --font-family-mono: var(--font-geist-mono);
  --font-family-vintages: var(--font-vintages);
}

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-stops));
  }
  
  .font-vintages {
    font-family: var(--font-vintages);
  }
}

* {
  scroll-behavior: smooth;
}

/* Offset scroll position for fixed header */
section[id] {
  scroll-margin-top: 4rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

h2 {
  font-family: var(--font-vintages), serif;
}